<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica The Crosses</title>
    <!-- Librerias de estilo -->
    <link rel="stylesheet" href="../css/estilo.css" type="text/css">
    <!------------------------->
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                <img class="logo" src="../img/Las-Cruces-B.png">
                    Laboratorio clinico
                <img class="logo" src="../img/Las-Cruces-B.png">
            </a>
        </h1>
        </header>
    <hr>
    <main id="main">
        <h2>¿A qué información deseas acceder?</h2>
        <div class="index">
            <!-- <h3 class="fir_enun">Ingresar como paciente, doctor o cargo administrativo</h3> -->
                <div id="fir_box">
                    <a id="vinculo_pa" href="/lista_pa">
                        <div id="main_paci" class="caja_index">
                            <h3>Lista de Pacientes</h3>
                            <img src="../img/Paciente-sinFon.png">
                        </div>
                    </a>
                    <a id="vinculo_do" href="/lista_do">
                        <div id="main_doctor" class="caja_index">
                            <h3>Lista de Doctores</h3>
                            <img src="../img/Doctor-sinFon.png">
                            
                        </div>
                    </a>
                    <a id="vinculo_citas" href="/lista_ci">
                        <div id="main_citas" class="caja_index main_admin_citas">
                            <h3>Lista de citas</h3>
                            <img src="../img/cita.png">
                            
                        </div>
                    </a>
            </div>
        </div>
        </main>
</body>
</html>