<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navBar</title>
</head>
<body>
    <hr>
        <nav>
            <a id="vinculo_ini" href="/index">
                <div id="inicio" class="caja_index">
                    <h4>Inicio</h4> <!--Nombre del recurso-->
                    <img src="/img/Las-Cruces.png">
                </div>
            </a>
            <a id="vinculo_pa" href="./formulario_pa">
                <div id="main_paci" class="caja_index">
                    <h4>Pacientes</h4> <!--Nombre del recurso-->
                    <img src="/img/Paciente-sinFon.png">
                </div>
            </a>
            <a id="vinculo_do" href="/formulario_do">
                <div id="main_doctor" class="caja_index">
                    <h4>Doctores</h4> <!--Nombre del recurso-->
                    <img src="/img/Doctor-sinFon.png">
                    
                </div>
            </a>
            <a  id="vinculo_ad" href="./admin">
                <div id="main_admin" class="caja_index">
                    <h4>Administrativo</h4>
                    <img src="/img/Admin-sinFon.png">
                </div>
            </a>
            <a id="vinculo_citas" href="/formulario_citas">
                <div id="main_citas" class="caja_index">
                    <h4>Citas</h4> <!--Nombre del recurso-->
                    <img src="/img/cita.png">
                </div>
            </a>
        </nav>
    <hr>
</body>
</html>